<html>

<head>
	<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=5">
	<title>统计信息</title>
	[compressed-css]
</head>

<body>
	<a href="/">回到主页</a><br>
	<a href="/{{filepath}}">回到{{ main_title }}</a>
	<h1 style="margin-top:20px">{{ main_title }} 的统计信息</h1>
	<h2>访问量</h2>
	<h3>总计</h3>
	<p>访问量: {{ total_pv }}<br>访客数: {{ total_uv }}</p>
	<h3>今天</h3>
	<p>访问量: {{ today_pv }}<br>访客数: {{ today_uv }}</p>
	<h3>最近7天</h3>
	<p>访问量: {{ week_pv }}<br>访客数: {{ week_uv }}</p>
	<h3>最近30天</h3>
	<p>访问量: {{ month_pv }}<br>访客数: {{ month_uv }}</p>
	<h2>访问来源(前五)</h2>
	<h3>设备</h3>
	<table>
		<tr>
			<th>排名
			<th>设备
			<th>次数{% for device, count in device_counter.most_common(5) %}
		<tr>
			<td>{{ loop.index }}
			<td>{{ device }}
			<td>{{ count }}{% endfor %}
	</table>
	<h3>操作系统</h3>
	<table>
		<tr>
			<th>排名
			<th>操作系统
			<th>次数{% for os, count in os_counter.most_common(5) %}
		<tr>
			<td>{{ loop.index }}
			<td>{{ os }}
			<td>{{ count }}{% endfor %}
	</table>
	<h3>地域</h3>
	<table>
		<tr>
			<th>排名
			<th>国家
			<th>次数{% for country, count in location_counter.most_common(5) %}
		<tr>
			<td>{{ loop.index }}
			<td>{{ country }}
			<td>{{ count }}{% endfor %}
	</table>
	<p>Powered By <a href="https://github.com/JulianDan/Quill">Quill</a></p>
</body>

</html>