<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body style="font-family: {{ font }}">
<div class="app">
    <h1 class="main_title">{{ title }}</h1>
    {% if page == 1 %}
        <div class="text">以下为最新 {{ per_page }} 篇文章</div><br>
    {% else %}
        <div class="text">第 {{ page }}/{{ total_pages }} 页</div><br>
    {% endif %}

    {% if page <= 1 and total_pages > 1 %}
        <a href="/?page={{ page + 1 }}&per_page={{ per_page }}" class="page_link">下一页</a>
    {% elif page < total_pages %}
        <a href="/?page={{ page-1 }}&per_page={{ per_page }}" class="page_link">上一页</a>
        <a href="/?page={{ page + 1 }}&per_page={{ per_page }}" class="page_link">下一页</a>
    {% elif page == total_pages and total_pages > 1 %}
        <a href="/?page={{ page-1 }}&per_page={{ per_page }}" class="page_link">上一页</a>
    {% endif %}

    <ul class="articles_box">
        {% for article in articles %}
            <li class="article">
                <h2 class="article_title">
                    <a href="{{ url_for('article', id=article['id']) }}" class="article_link">{{ article['title'] }}</a>
                </h2>
                <div class="time">{{ article['modified'] }}</div>
                <div class="preview">{{ article['summary'] }}</div>
            </li>
        {% endfor %}
    </ul>
    <duv class="text">轻羽 2.4.1-beta | 查询耗时 {{ res_time }} ms.</duv>
</div>
<script>
    const articleLinks = document.querySelectorAll('.article_link');
    articleLinks.forEach(articleLink => {
        articleLink.addEventListener('mouseover', () => {
            articleLink.parentNode.parentNode.classList.add('article_pressed');
        });

        articleLink.addEventListener('mouseout', () => {
            articleLink.parentNode.parentNode.classList.remove('article_pressed');
        });
    });
</script>
</body>
</html>
